{% extends 'base.html.twig' %}

{% block body %}
    <h1>Worker edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-success" value="Zapisz">
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('worker_index') }}" class="btn btn-primary" role="button">Powrót do listy</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
