{% extends 'base.html.twig' %}

{% block body %}
    <h3>Lista pracowników</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.woFirstName }}</td>
                <td>{{ worker.woLastName }}</td>
                <td>{{ worker.woEmail }}</td>
                <td>
                    <a href="{{ path('worker_edit', { 'id': worker.woId }) }}" class="btn btn-primary" role="button">Edycja</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('worker_new') }}" class="btn btn-primary" role="button">Dodaj pracownika</a>
{% endblock %}
