{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task list</h1>

    <table>
        <thead>
            <tr>
                <th>Taid</th>
                <th>Taname</th>
                <th>Tadescription</th>
                <th>Tadatecreate</th>
                <th>Tapriority</th>
                <th>Tastatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.taId }) }}">{{ task.taId }}</a></td>
                <td>{{ task.taName }}</td>
                <td>{{ task.taDescription }}</td>
                <td>{% if task.taDateCreate %}{{ task.taDateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.taPriority }}</td>
                <td>{{ task.taStatus }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.taId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.taId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
