{% extends 'base.html.twig' %}

{% block body %}
    <h3>Projekt "{{ project.prName }}" - lista zadań </h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Data utworzenia</th>
            <th>Priorytet</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr class="{{ task.taStatusColor }}" title="Status: {{ task.taStatusName }}">
                <td>
                    <a href="{{ path('task_show', { 'id': task.taId }) }}">{{ task.taName }}</a>
                </td>
                <td>{% if task.taDateCreate %}{{ task.taDateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <span class="label label-{{ task.taPriorityColor }}" role="alert">{{ task.taPriorityName }}</span>
                </td>
                <td>
                    <a href="{{ path('task_show', { 'id': task.taId }) }}" class="btn btn-default"
                       role="button">Podgląd</a>

                    <a href="{{ path('task_edit', { 'id': task.taId }) }}" class="btn btn-primary"
                       role="button">Edycja</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new', {'id': project.prId}) }}" class="btn btn-primary" role="button">Dodaj</a>

{% endblock %}
