{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Taid</th>
                <td>{{ task.taId }}</td>
            </tr>
            <tr>
                <th>Taname</th>
                <td>{{ task.taName }}</td>
            </tr>
            <tr>
                <th>Tadescription</th>
                <td>{{ task.taDescription }}</td>
            </tr>
            <tr>
                <th>Tadatecreate</th>
                <td>{% if task.taDateCreate %}{{ task.taDateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tapriority</th>
                <td>{{ task.taPriority }}</td>
            </tr>
            <tr>
                <th>Tastatus</th>
                <td>{{ task.taStatus }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_index') }}" class="btn btn-primary" role="button">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('task_edit', { 'id': task.taId }) }}" class="btn btn-primary" role="button">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
