{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Projekt</th>
            <th>Klienta</th>
            <th>Procent realizacji</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('task_index', {'id':project.prId}) }}"> {{ project.prName }}</a></td>
                <td>{{ project.customerCu.cuName }}</td>
                <td {% if task_count_open[project.prId] is defined %}title="Otwarte: {{ task_count_open[project.prId] }}, zamknięte: {{ task_count_close[project.prId] }}{% endif %}">
                    <div class="progress">
                        {% if task_count_open[project.prId] is defined %}
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ task_completed_percent[project.prId] }}%;">
                                {{ task_completed_percent[project.prId] }}%
                            </div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('project_new') }}" class="btn btn-primary" role="button">Dodaj projekt</a>

{% endblock %}
