{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista projektów</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naza projektu</th>
                <th>Naza klienta</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.prId }) }}">{{ project.prId }}</a></td>
                <td>{{ project.prName }}</td>
                <td>{{ project.customerCu.cuName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.prId }) }}" class="btn btn-default" role="button">Podgląd</a>
                        </li>
                        <li>
                            <a href="{{ path('project_edit', { 'id': project.prId }) }}" class="btn btn-primary" role="button">Edycja</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}" class="btn btn-primary" role="button">Dodaj nowy</a>
        </li>
    </ul>
{% endblock %}
