{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Prid</th>
                <td>{{ project.prId }}</td>
            </tr>
            <tr>
                <th>Prname</th>
                <td>{{ project.prName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_index') }}" class="btn btn-primary" role="button">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'id': project.prId }) }}" class="btn btn-primary" role="button">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
