{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Cuid</th>
                <td>{{ customer.cuId }}</td>
            </tr>
            <tr>
                <th>Cuname</th>
                <td>{{ customer.cuName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_index') }}" class="btn btn-primary" role="button">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('customer_edit', { 'id': customer.cuId }) }}" class="btn btn-primary" role="button">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
